* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --alice-blue: aliceblue;
  --dark-blue: rgb(0, 0, 97);
  --font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: var(--alice-blue);
  color: var(--dark-blue);
}

nav {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(180, 213, 241);
  align-items: center;
}

#date-select-field {
  width: 50%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#month-select,
#year-select {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  background-color: var(--alice-blue);
  color: var(--dark-blue);
  font-family: var(--font-family);
  cursor: pointer;
}

#navigate-button-field {
  width: 20%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.navigate-button {
  font-size: 4rem;
  color: var(--dark-blue);
}

.navigate-button:hover {
  color: var(--alice-blue);
  transform: scale(1.2);
  cursor: pointer;
}

#calendar-header {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekdays {
  border: solid 0.1rem var(--dark-blue);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--dark-blue);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--alice-blue);
  color: var(--dark-blue);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
